.c-title {
    &__main {
        font-weight: 700;
        font-size: 36px;
        margin: 16px 0;
    }

    &__description {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
    }
}

.amar {
    margin-bottom: 16px;
    // background-color: red;
}