// COLORS
$black: #000000;
$black-light: #212121;
$blue: #25A9E0;
$green: #8BD396;
$green-dark: #388e3c;
$grey-light: #BDBDBD;
$grey: #BDBDBD;
$grey-menu: #f5f5f5;
$red: #EB6A6A;
$yellow: #E2D846;
$white: #FFFFFF;
$white-dark: #E5E5E5;